<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
<title>Estacionamento</title>
</head>
<body>
<h2>Login</h2>
<form method="post" action="/veiculo/cadastrar">
    <input type="text" id="placa" name="name" placeholder="Digite sua placa"><br>
    <input type="txt" id="modelo" name="modelo" placeholder="Informe o modelo"><br>
    <input type="txt" id="cor" name="cor" placeholder="Informe a cor"><br>
    <input type="txt" id="observacoes" name="observacoes" placeholder="Observacoes sobre o veiculo"><br>
    <button type="submit">Salvar Entrada</button><br>
</form>
</body>
</html>