<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
<title>Estacionamento</title>
</head>
<body>
    <h2>Cadastro</h2>
<form method="post" action="/efetuar-cadastro">
    <input type="text" id="nome" name="nome" placeholder="Digite seu nome completo"><br>
    <input type="text" id="cpf" name="cpf" placeholder="Digite seu cpf"><br>
    <input type="email" id="email" name="email" placeholder="Digite seu email"><br>
    <input type="password" id="senha" name="senha" placeholder="Crie uma senha"><br>
    <input type="tel" id="telefone" name="telefone" placeholder="Digite seu número de telefone"><br>
    <input type="date" id="nascimento" name="nascimento" placeholder="Digite a sua data de nascimento"><br>
    <button type="submit">Cadastrar</button><br>
    <h3>Já tem login?  <a href="/">Clique aqui!</a></h3>
</form>
</body>
</html>