<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estacionamento</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Login</h2>
    <form method="post" action="/autenticar">
        <input type="email" id="email" name="email" placeholder="Digite seu email"><br>
        <input type="password" id="pwsd" name="pwsd" placeholder="Digite sua senha"><br>
        <button type="submit">Logar</button><br>
        <h3>Não tem um link?  <a href="/cadastro"> Clique aqui!</a></h3>
    </form>
</body>
</html>